.body {
    font-family: "Times New", sans-serif;
}

.block1 {
    background-color: #1f2937;
    /*display: flex;*/
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    padding-left: 20%;
    padding-right: 20%;

    /*color: #f9faf8;*/
}

.b1-up {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.b1-down {
    display: flex;
    justify-content: space-between;
}

.b1-down .left {
    width: 35%;
}

.b1-down .right {
    width: 50;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    color: #E5e7eb;
    font-size: 18px;
    width: 400px;
}

.right {
    background-color: gray;
    width: 420px;
    padding-top: 65px;
    padding-left: 5px;
    text-align: center;

}

.right p {
    color: #E5e7eb;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    align-self: center;
}


h1 {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    gap: 30px;
}

li {
    display:inline;
    color: #E5e7eb;
    font-size: 18px;
    align-content: flex-end;
    justify-content: space-between;
    width: 200px;
}

.block2 {
    justify-items: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    justify-items: center;
}

.b2text {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.b2boxes {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    justify-items: center;

}

.block2 .text {
    width: 145px;
    text-align: center;
}

.sq {
    justify-items: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 250px;
}



.image {
    border: 50px #3882f6;
    display: flex;
    border-style: solid;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    flex: 1;
    border-width: thick
    
}

.footer {
    background-color: #1f2937;
    display: flex;
}

.footer p {
    color: #E5e7eb;
    font-size: 18px;
}

.footer {
    justify-content: center;
    justify-items: center;
    display: flex;
}

